<style>
    .categories ul {
        list-style: none;
        margin:0;
        padding:0;
        overflow: auto;
        font-size:.9em;
    }
    .categories ul li {
        float:left;
        padding:.1em;
        box-sizing: border-box;
        width:25%;
        cursor:pointer;
    }

    .categories ul div {
        position:relative;
        background: #fff;
        padding:.4em;
        text-align:center;
    }
    .categories ul img {
        display:block;
        margin:0 auto;
        width:66px;
        height:auto;
    }

    .categories ul .text {
        display:block;
        top:52px;
        left:0;
        right:0;
    }
</style>
<div class="front-page">

    총 <span class="count"><?php echo company()->count()?></span> 개의 업소가 등록되어져 있습니다.


    <form>
        <input type="hidden" name="route" value="company.Controller.search">
        <input type="text" name="keyword" value="">
        <input type="submit" value="Search">
    </form>

    <div class="categories">

        <ul>


            <?php

            $cats = category()->loadAllArray();
            foreach ( $cats as $cat ) {

            $file = data()->load("gid='company-category' AND code='$cat[id]'");
            $url_install_dir = url_install_dir();
            if ( $file ) {
            $id = $file->get('id');
            $url = $file->get('url');
            $img = "<img fid='$id' src='$url'>";
            }
            else $img = "<img src='{$url_install_dir}model/company/tmp/category-icon/marketing.png'>";

?>

            <li>
                <div>
                    <?php echo $img?>
                    <span class="text"><?php echo $cat['code']?></span>
                </div>
            </li>

            <?php
            }


            /*
            <li route="company.Controller.getCategory&category=Church" callback="display_company_list"><div><img src="img/category-icons/church.png"><span class="text">Church</span></div></li>
            <li><div><img src="img/category-icons/gov.png"><span class="text">공공기관</span></div></li>
            <li><div><img src="img/category-icons/train.png"><span class="text">어학원</span></div></li>
            <li><div><img src="img/category-icons/school.png"><span class="text">교육시설</span></div></li>
            <li ><div><img src="img/category-icons/kimchi.png"><span class="text">Food</span></div></li>
            <li ><div><img src="img/category-icons/mart.png"><span class="text">마트식품</span></div></li>
            <li><div><img src="img/category-icons/mango.png"><span class="text">망고</span></div></li>
            <li><div><img src="img/category-icons/restaurant.png"><span class="text">레스토랑</span></div></li>
            <li><div><img src="img/category-icons/rentcar.png"><span class="text">렌트카</span></div></li>
            <li ><div><img src="img/category-icons/delivery.png"><span class="text">통관운송</span></div></li>
            <li><div><img src="img/category-icons/drugstore.png"><span class="text">약국</span></div></li>
            <li><div><img src="img/category-icons/eyeglass.png"><span class="text">안경점</span></div></li>
            <li ><div><img src="img/category-icons/beauty.png"><span class="text">미용뷰티</span></div></li>
            <li><div><img src="img/category-icons/food.png"><span class="text">건강식품</span></div></li>
            <li ><div><img src="img/category-icons/internet.png"><span class="text">인터넷</span></div></li>
            <li ><div><img src="img/category-icons/electronics.png"><span class="text">가전전자</span></div></li>
            <li><div><img src="img/category-icons/smartphones.png"><span class="text">휴대폰</span></div></li>
            <li><div><img src="img/category-icons/computer.png"><span class="text">컴퓨터</span></div></li>
            <li><div><img src="img/category-icons/furniture.png"><span class="text">가구</span></div></li>
            <li><div><img src="img/category-icons/travel.png"><span class="text">여행사</span></div></li>
            <li ><div><img src="img/category-icons/immigrant.png"><span class="text">이주이민</span></div></li>
            <li><div><img src="img/category-icons/airport.png"><span class="text">항공사</span></div></li>
            <li ><div><img src="img/category-icons/golf.png"><span class="text">골프부킹</span></div></li>
            <li ><div><img src="img/category-icons/hotel.png"><span class="text">호텔숙박</span></div></li>
            <li><div><img src="img/category-icons/resort.png"><span class="text">리조트</span></div></li>
            <li><div><img src="img/category-icons/realestate.png"><span class="text">부동산</span></div></li>
            <li><div><img src="img/category-icons/office.png"><span class="text">간판인쇄</span></div></li>
            <li><div><img src="img/category-icons/interior.png"><span class="text">인테리어</span></div></li>
            <li ><div><img src="img/category-icons/bank.png"><span class="text">은행금융</span></div></li>
            <li ><div><img src="img/category-icons/pest.png"><span class="text">방역청소</span></div></li>
            <li ><div><img src="img/category-icons/car.png"><span class="text">자동차</span></div></li>
            <li ><div><img src="img/category-icons/water.png"><span class="text">정수기</span></div></li>
            */
            ?>
        </ul>
    </div>



</div>